{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'driver_app/bootstrap/profile2.css' %}" />


      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Driver Profile</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
        <a class="navbar-brand" href="{% url 'driver_home' %}">Home</a>
        <a href="{% url 'logout' %}" class="btn btn-success ml-auto mr-1" role="button">Logout</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <div class="navbar-nav text-right">
                <a class="nav-item nav-link" href="{% url 'driver_transaction_log' %}">Transaction log</a>
                <a class="nav-item nav-link" href="{% url 'driver_pickup' %}">Pending Pickups</a>
                <a class="nav-item nav-link" href="{% url 'driver_profile' %}">Profile</a>

            </div>
        </div>
    </nav>


<div class="container emp-profile">
    <div class="col-sm-12 d-flex p-1">
      {% for t in transaction_list %}
        <div class="alert alert-heading mr-2 col-sm-3" role="alert">
            <h4 class="alert-heading">{{t.waste_type}} Pickup</h4>
            <p>Date: {{t.transacted_at}}</p>
            <p>City: {{t.city}}</p>
            <p>Price: {{t.amount}}</p>
            <hr>
            <p class="mb-0">Status: {{t.transaction_state}}</p>
        </div>
      {% endfor %}
    </div>
</div>


</body>
</html>