
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'client_app/bootstrap/profile.css' %}" />


    <title>Client Register</title>
</head>
<body>

<div style="padding-bottom:5px;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
        <a class="navbar-brand">Register</a>
        <a href="{% url 'login' %}" class="btn btn-success ml-auto mr-1" role="button">Login</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <div class="navbar-nav text-right">
                <a class="nav-item nav-link disabled" href="#">Features</a>
                <a class="nav-item nav-link disabled" href="#">Pricing</a>
                <a class="nav-item nav-link disabled" href="#">Register</a>
            </div>
        </div>
    </nav>
</div>

<!--<div class="container emp-profile">-->
<!--    <div class="container col-sm-6">-->
<!--        <div class="center">-->
<!--            <form method="POST">-->
<!--                {% csrf_token %}-->
<!--        -->
<!--        &lt;!&ndash;        {% for field in form %}&ndash;&gt;-->
<!--        &lt;!&ndash;            {{field.label}}&ndash;&gt;-->
<!--        &lt;!&ndash;            {{field}}&ndash;&gt;-->
<!--        &lt;!&ndash;        {% endfor %}&ndash;&gt;-->
<!--              <div class="form-group">-->
<!--                {{form.username.label}}-->
<!--                {{form.username}}-->
<!--              </div>-->
<!--        -->
<!--                  <div class="form-group">-->
<!--                    {{form.cell.label}}-->
<!--                    {{form.cell}}-->
<!--                </div>-->
<!--        -->
<!--              <div class="form-group">-->
<!--                {{form.email.label}}-->
<!--                {{form.email}}-->
<!--              </div>-->
<!--        -->
<!--                <div class="form-group">-->
<!--                 {{form.password1.label}}-->
<!--                {{form.password1}}-->
<!--                </div>-->
<!--        -->
<!--                <div class="form-group">-->
<!--                    {{form.password2.label}}-->
<!--                    {{form.password2}}-->
<!--                </div>-->
<!--        -->
<!--                <div class="form-group">-->
<!--                    {{form.first_name.label}}-->
<!--                    {{form.first_name}}-->
<!--                </div>-->
<!--        -->
<!--                <div class="form-group">-->
<!--                    {{form.last_name.label}}-->
<!--                    {{form.last_name}}-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    {{client_form.city.label}}-->
<!--                    {{client_form.city}}-->
<!--                </div>-->
<!--                 <div class="form-group">-->
<!--                    {{client_form.area.label}}-->
<!--                    {{client_form.area}}-->
<!--                </div>-->
<!--                 <div class="form-group">-->
<!--                    {{client_form.road.label}}-->
<!--                    {{client_form.road}}-->
<!--                </div>-->
<!--                 <div class="form-group">-->
<!--                    {{client_form.contact.label}}-->
<!--                    {{client_form.contact}}-->
<!--                </div>-->
<!--                 <div class="form-group">-->
<!--                    {{client_form.location_coords.label}}-->
<!--                    {{client_form.location_coords}}-->
<!--                </div>-->

<!--&lt;!&ndash;                 <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ client_form.as_p }}&ndash;&gt;-->

<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--        -->
<!--        -->
<!--                 <button type="submit" class="btn btn-primary">Register</button>-->
<!--        &lt;!&ndash;        <a href="/payment" class="btn btn-primary" role="button">Submit</a>&ndash;&gt;-->
<!--        -->
<!--        -->
<!--        -->
<!--        -->
<!--        -->
<!--        -->
<!--            </form>-->
<!--                {{ form.errors}}-->
<!--            </div>-->
<!--    </div>-->

<!--</div>-->

<div class="container emp-profile">
    <div class="col-sm-12 d-flex p-1">
    <div>
<form method="POST">
    {% csrf_token %}

	<div class="container">
<!--<div class="row gutters">-->
<!--	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">-->
<!--		<div class="card h-100">-->
<!--			<div class="card-body">-->
<!--				<div class="account-settings">-->
<!--					<div class="user-profile">-->
<!--						<div class="user-avatar">-->
<!--							<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Maxwell Admin">-->
<!--						</div>-->
<!--						<h5 class="user-name">Yuki Hayashi</h5>-->
<!--						<h6 class="user-email">yuki@Maxwell.com</h6>-->
<!--					</div>-->
<!--					<div class="about">-->
<!--						<h5 class="mb-2 text-primary">About</h5>-->
<!--						<p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	<div class="col-md-12 col-sm-12 col-12">
		<div class="card h-100">
			<div class="card-body">

				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					</div>

					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
                            {{form.username.label}}
                            {{form.username}}
						</div>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
                            {{form.cell.label}}
                            {{form.cell}}
						</div>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							 {{form.email.label}}
                             {{form.email}}
						</div>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							{{form.password1.label}}
                            {{form.password1}}
						</div>
					</div>
				</div>


				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					</div>

					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
                            {{form.password2.label}}
                            {{form.password2}}
						</div>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							{{form.first_name.label}}
                    {{form.first_name}}
						</div>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							{{form.last_name.label}}
                            {{form.last_name}}
						</div>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							{{client_form.city.label}}
                            {{client_form.city}}
						</div>
					</div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							 {{client_form.area.label}}
                    {{client_form.area}}
						</div>
					</div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							{{client_form.road.label}}
                    {{client_form.road}}
						</div>
					</div>

                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							 {{client_form.contact.label}}
                    {{client_form.contact}}
						</div>
					</div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							  {{client_form.location_coords.label}}
                    {{client_form.location_coords}}
						</div>
					</div>

				</div>

				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="text-right">
                            <button type="submit" class="btn btn-primary">Register</button>

<!--							<button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>-->
<!--							<button type="button" id="submit2" name="submit" class="btn btn-primary">Update</button>-->
						</div>
					</div>
                    {{ form.errors}}

				</div>

			</div>
		</div>
	</div>
</div>


</form>
</div>

    </div>
</div>




</body>
</html>